.cards {
  padding: 20px 0 40px;
  border-bottom: 1px solid rgba(33, 33, 33, 0.4);
}

.cards__list {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-columns: repeat(auto-fit, 413px);
  gap: 40px 20px;
  justify-content: center;
}

@media screen and (max-width: 627px) {
  .cards {
    padding: 20px 0;
  }
  .cards__list {
    grid-template-columns: repeat(auto-fit, 288px);
    justify-content: center;
    align-items: center;
    max-width: 288px;
    row-gap: 20px;
    margin: 0 auto;
  }
}
