.card {
  display: flex;
  flex-direction: column;
  position: relative;
}

.card__image {
  height: 413px;
  width: 100%;
  display: block;
  margin: 0 0 12px;
  border-radius: 8px;
  object-fit: cover;
  transition: transform 0.1s ease-in-out;
}

.card__image:hover {
  cursor: pointer;
  transform: scale(1.02);
}

.card__content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.card__title {
  margin: 0;
  max-width: 353px;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  font-family: "Poppins", "Arial", "Helvetica", sans-serif;
  font-weight: 500;
  font-size: 20px;
  line-height: 120%;
  color: #212121;
}

.card__like-button {
  background-image: url(../images/like-icon-default.svg);
  padding: 0;
  width: 23px;
  height: 20px;
  border: none;
  background-color: transparent;
  background-repeat: no-repeat;
  opacity: 0.4;
  transition: opacity 0.1s ease-in-out;
}

.card__like-button:hover {
  opacity: 1;
  cursor: pointer;
}

.card__like-button-liked {
  background-image: url(../images/like-icon-liked.svg);
  opacity: 1;
  transition: opacity 0.1s ease-in-out;
}

.card__like-button-liked:hover {
  opacity: 0.5;
  cursor: pointer;
}

.card__delete-button {
  background-image: url(../images/delete-icon-default.svg);
  padding: 0;
  width: 32px;
  height: 32px;
  border: none;
  background-color: transparent;
  background-repeat: no-repeat;
  opacity: 1;
  transition: background-image 0.1s ease-in-out;
  position: absolute;
  top: 10px;
  right: 10px;
  z-index: 1;
}

.card__delete-button:hover {
  background-image: url(../images/delete-icon-hover.svg);
  cursor: pointer;
}

@media screen and (max-width: 627px) {
  .card {
    max-width: 288px;
    margin: auto;
  }

  .card__title {
    font-size: 16px;
    line-height: 100%;
  }

  .card__image {
    height: 288px;
    width: 288px;
  }

  .card__like-button {
    background-size: contain;
    background-repeat: no-repeat;
    width: 20px;
    height: 18px;
  }
}
