.card__image {
  height: 413px;
  width: 100%;
  display: block;
  margin: 0 0 12px;
  border-radius: 8px;
  object-fit: cover;
}

.card__content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.card__title {
  margin: 0;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  font-family: "Poppins", "Arial", "Helvetica", sans-serif;
  font-weight: 500;
  font-size: 20px;
  line-height: 120%;
  color: #212121;
}

.card__button {
  background-image: url(../images/like-icon.svg);
  padding: 0;
  width: 23px;
  height: 20px;
  border: none;
  background-color: transparent;
  opacity: 0.4;
  transition: opacity 0.1s ease-in-out;
}

.card__button:hover {
  opacity: 1;
  transition: opacity 0.1s ease-in-out;
  cursor: pointer;
}

@media screen and (max-width: 627px) {
  .card {
    max-width: 288px;
    margin: auto;
  }

  .card__title {
    font-size: 16px;
    line-height: 100%;
  }

  .card__image {
    height: 288px;
    width: 288px;
  }

  .card__button {
    background-size: contain;
    background-repeat: no-repeat;
    width: 20px;
    height: 18px;
  }
}
